<%- include('header'); -%>
<div class="box" id="heading">
    <h1> About</h1>

    <div class="item">
        <p>Hi! i'm a full stack developer, selflearner with the help of my montors.</p>
    </div>

</div>


<%- include('footer'); -%>