

@import url(https://fonts.googleapis.com/css2?family=Hind:wght@100;200;300;400;500;600;700&display=swap);



html {
  background-color: #E4E9FD;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,221,51,1) 100.2%, rgba(187,187,187,1) 100.2% );
  min-height: 1000px;
  font-family: 'Hind', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(59,149,237,1) 0%, rgba(7,91,173,1) 90% );
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: radial-gradient( circle farthest-corner at 10% 20%,  rgba(59,149,237,1) 0%, rgba(7,91,173,1) 90% );
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(59,149,237,1) 0%, rgba(7,91,173,1) 90% );
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 400;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {

  color: white;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  position: fixed;
  left: 0;
  bottom: 0;
 width: 100%;
  text-align:center ;
  height: 80px;
}

 